<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ description }}">
    <meta name="googlebot" content="index,follow" />
    <link rel="profile" href="https://gmpg.org/xfn/11">
    <meta property="og:url" content="https://josephshabason.com" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="Joseph Shabason" />
    <meta property="og:description" 
          content="Multi-instrumentalist, composer, producer and recording artist" />
    <meta property="og:image" content="/dist/images/site.png" />
    {{ function('wp_head') }}
  </head>
  <body class="{{ body_class }}">
    <div class="modal">
      {% if is_category %}
        {% if categories|length %}
          {% for category in categories %}
            {% for post in category.posts %}
              <div data-id="{{ post.id }}" class="embed">
                <i class="icofont-close"></i>
                {% if post.get_field('embedType') %}
                  <div class="bandcamp">
                    {{ post.get_field('embedBandcamp', FALSE, FALSE) }}
                  </div>
                {% else %}
                  {{ post.get_field('embed', FALSE, FALSE) }}
                {% endif %}
                <div class="content">
                  {{ post.content }}
                </div>
              </div>
            {% endfor %}
          {% endfor %}
        {% endif %}
      {% endif %}
    </div>
    {% block header %}
    <div class="overlay-nav">
      <div class="mobile-nav-wrapper">
        <nav>
          <ul class="nav-main-left">
              <li class="nav-main-item">
                <a class="nav-main-link" href="/">Home</a>
              </li>
            {% for item in headerMenu.items %}
              <li class="nav-main-item">
                <a class="nav-main-link" href="{{ item.link }}">{{ item.title }}</a>
              </li>
            {% endfor %}
          </ul>
        </nav>
      </div>
    </div>
    <div class="wrap">
      <header>
        <div>
          <i class="icofont-navigation-menu open mobile-toggle"></i>
          <i class="icofont-close close mobile-toggle"></i>
          <h1><a href="/">Joseph Shabason</a></h1>
          <nav>
            <ul class="nav-main-left-desktop">
              {% for item in headerMenu.items %}
                <li class="nav-main-item">
                  <a class="nav-main-link{% if item.current %} active{% endif %}" href="{{ item.link }}">{{ item.title }}</a>
                </li>
              {% endfor %}
            </ul>
          </nav>
        </div>
      </header>
      {% endblock %}

      <main>
        <div class="{{ container_class }}">
          {% block content %}
          {% endblock content %}
        </div>
      </main>
      <footer>
        <small>&copy; Joseph Shabason {{ "now"|date('Y') }}</small>
        {{ function('wp_footer') }}
      </footer>
    </div>
  </body>
</html>