<div class="post-content">
  {% if post.get_field('embedType') %}
    {{ post.get_field('embedBandcamp', FALSE, FALSE) }}
  {% else %}
    {{ post.get_field('embed', FALSE, FALSE) }}
  {% endif %}
  <h2 class="title">{{ post.title }}</h2>
  <h3 class="artist">{{ post.artist_name }}</h3>
  {{ post.content }}
</div>